@media screen and (max-width:700px){
     body{
    
    } 
    .nav-bar,.filter,.toggle-box{
        display: none;
    }
    .nav_bar-2{
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: space-around;
        margin-bottom: 1rem;
    }
    #scrollbar{
        width: 80%;
        margin-bottom: 1px solid grey;
    }
     .main-section{
        display: flex;
        justify-content:space-around;
        align-items: center;  
    } 
    .pic{
        width: 280px;
        height: 280px;
    }
    .rating{
        bottom:20% ;
    }
    .footer{
        width: 100%;
        padding: 2rem;

    }
    .lastline,.social-media{    
        display: flex;
         flex-wrap: wrap;
        justify-content: center;
    }
    .nav-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    #iframeContainer iframe {
        width: 220px;
        height: 320px;
    }
    #iframeContainerAgain iframe {
        width: 400px;
        height: 700px;  
    }
    .nav-bar-4{
        display: flex;
        position: fixed;
        background-color: white;
        justify-content: center;
        z-index: 1000;
        margin-left: -2rem;
        bottom: 0;
        width: 100%;
    }
   .abc{
    color: red;
    display: flex;
    font-size: 1.5rem;
   }
   .abc span{
    padding: 1rem;
   }
   .abc div{
    font-size: 1rem;
    text-align: center;
   }
   .abc span:hover{
    text-decoration: underline;
    color: green;
   }
 
  
   } 
   /* .txt{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    padding: 1rem;
    font-size:12px;
   } */
}
@media screen and (max-width:1000px) and (min-width:700px) {
    .bar-part-1,.filter,.toggle-box{
        display: none;
    }
    .logo-1{
        display: flex;
    }
    .nav_bar-3{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
  .search-bar{
    display: flex;
    justify-content: space-between;
  }
  .pic{
    width: 200px;
    height: 200px;
}
#scrollbar{
    width: 70%;
}
}
@media  screen and (max-width:400px) {
    .nav-links{
        display: grid;
        grid-template-columns: 1fr;
        } 
        #Outdoors,#Unique{
            display: none;
        }
        .linked-details{
            display: grid;
            grid-template-columns: 1fr 1fr;
        } 
        .footer-section-2{
            display: grid;
            grid-template-columns: 1fr;
        }
}