@media  screen  and (max-width:800px){
    body{
        margin: 0 2rem;
        font-size: 20px;
    }
    p{
        font-size: 18px;
    }
    .info,.login-box,.amount-box{
        display: none;
    }
    .image-container{
     /* display: flex;
     flex-wrap: wrap;
      justify-content: center;
      margin: 0; */
    }
    .first-pic img{
        width: 300px;
        height: 200px;
    }
.pic2{
    border-top-left-radius: 20px;
}
.pic3{
    border-top-right-radius: 20px;
}
.pic4{
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
}
.details-container-2{
 width: 100%;
 margin: 0;

}
.btn_3{
    display: block;
    text-align: center;
}

.btn-3{
    color: white;
    background-color: rgb(240, 65, 65);
    border: none;
    border-radius: 10px;
    padding: 1rem 4rem;
   margin: 2rem 0;
    
    
}

} 
    
